{% extends 'base.html' %}

{% block title %}
Уведомление
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Уведомление</h1>

    {% if articles|length > 0 %}
        {% for el in articles %}
        <div class="alert alert-info">
            <h2>{{ el.title }}</h2>
            <p>{{ el.intro }}</p>
            <p><b>Дата: {{ el.date.date() }} Время: {{ el.date.hour }}:{{ el.date.minute }}:{{ el.date.second }}</b></p>
            <a href="/posts/{{ el.id }}" class="btn btn-warning">Детальнее</a>
        </div>
        {% endfor %}
    {% else %}
    <p><b>У нас ещё нет статей на сайте</b></p>
    {% endif %}
</div>
{% endblock %}